{% extends "chat/base.html" %}

{% block content %}

  <div id="wrapper" class="row wrapper-content">

  <!-- Lista conectados -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav" id="lista-conectados">
            <li class="sidebar-brand">
                Conectados (<span id="n-conectados">{{ conectados|length }}</span>)
            </li>

            {% for conectado in conectados %}
            <li>{{ conectado.user.username }}</li>
            {% endfor %}
        </ul>
    </div>

      <div  id="page-content-wrapper">

      <!-- Barra superior de navegacion -->
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                  <!-- boton toggle lista conectados -->
                    <button class="btn-menu btn btn-success btn-toggle-menu" type="button">
                        <i class="fa fa-bars"></i>
                    </button>
                </div>
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user"> </span> <b>{{ user.username }} </b><span class="caret"></span></a>
                          <ul class="dropdown-menu">
                            <li ><span class="glyphicon glyphicon-user"> </span><a href="#" class="inline-block" >Perfil</a></li>
                            <li role="separator" class="divider"></li>
                            <li ><span class="glyphicon glyphicon-off"> </span><a href="{% url 'logout' %}?next=http://127.0.0.1:8000/chat" class="inline-block" >Cerrar sesión</a></li>
                          </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <!-- Mensajes del chat-->
        <div class="chat-message">
            <ul class="chat" id="chat">

            </ul>
        </div>

        <!-- Cuadro para enviar mensajes-->
        <div class="chat-box">
            <div class="input-group">
                <input class="form-control border no-shadow no-rounded" placeholder="Escriba su mensaje aquí" id="text-mensaje" autofocus>
                <span class="input-group-btn">
                    <button class="btn btn-success no-rounded" type="button" id="boton-enviar">¡Enviar!</button>
                </span>
            </div>
        </div>

      </div>
  </div>
<input type="hidden" value="{{ user.username }}" id="username">
<script type="text/javascript">

    $(function(){
        $(".btn-toggle-menu").click(function() {
            $("#wrapper").toggleClass("toggled");
        });
    })
</script>
{% endblock %}