{% extends "registration/base.html" %}

{% block content %}

<form method="post" action="{% url 'crear_cuenta' %}" class="form-signin">
    {% csrf_token %}
    <h2 class="form-signin-heading">Datos de usuario:</h2>
    {% if form.errors %}
        <p class="bg-danger" style="margin-top:10px;padding:5px">El formulario tiene errores.</p>
    {% endif %}

    <label for="{{form.nombre_usuario.id_for_label}}" class="sr-only">{{form.nombre_usuario.label}}</label>
    <input type="text" id="{{form.nombre_usuario.id_for_label}}" maxlength="254" name="nombre_usuario" class="form-control" placeholder="{{form.nombre_usuario.label}}" required  

    {% if form.nombre_usuario.value %}
    value="{{form.nombre_usuario.value}}" >
    {%else%}
    autofocus>
    {%endif%}

    <label for="{{form.password.id_for_label}}" class="sr-only">{{form.password.label}}</label>
    <input type="password"  style="margin-top:5px" id="{{form.password.id_for_label}}" name="password" class="form-control" placeholder="{{form.password.label}}" required
    {% if form.password.value %}
    value="{{form.password.value}}" >
    {%else%}
    >
    {%endif%}

    <div class="form-group">
        <label for="{{form.password_confirmar.id_for_label}}" class="sr-only">{{form.password_confirmar.label}}</label>
        <input type="password"  style="margin-top:5px" id="{{form.password_confirmar.id_for_label}}" name="password_confirmar" class="form-control has-error" placeholder="Confirmar contraseña" required
        {% if form.password_confirmar.value %}
        value="{{form.password_confirmar.value}}" >
        {%else%}
        >
        {%endif%}

        {% for error in form.password_confirmar.errors %}
            <li class="bg-danger"><strong>{{ error|escape }}</strong></li>
        {% endfor %}
        
    </div>


    <button class="btn btn-lg btn-primary btn-block" type="submit" style="margin-top:5px">Iniciar sesión</button>
</form>

{% endblock %}